
@{
    Layout = null;
}

<!DOCTYPE html>



<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hoooppp Hemşerim Neree</title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Adorable Error Page Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- Meta tags -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="/error/css/font-awesome.min.css" />

    <!-- //font-awesome icons -->
    <link href="/error/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-ups-->
    <!--stylesheets-->
    <link href="/error/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//style sheet end here-->

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">


</head>

<body>

    <h1 class="error">OOOPPSSS :(</h1>
    <div class="top-w3ls">
        <h2>404</h2>
        <h3>Üzgünüm aradığınız sayfa bulunamadı ühüüüü :(</h3>
        <p>
            Ana Sayfaya Dönmek İster Misiniz ? <a href="/Vitrin/Index/">Anasayfa</a>
        </p>

        <h5>Veya</h5>
        <div class="row-col">
            <div class="banner-agileits-btm">
                <div class="w3layouts_more-buttn">
                    <a href="#small-dialog1 " class="play-icon popup-with-zoom-anim">Contact</a>
                </div>
                <div id="small-dialog1" class="mfp-hide w3ls_small_dialog wthree_pop">
                    <div class="agileits_modal_body">

                        <!--newsletter-->
                        <div class="newsletter ">
                            <div class="letter-w3ls">
                                <h4>İletişime Geçin</h4>
                                <form action="#" method="post">
                                    <div class="form-left-w3l ">

                                        <input type="text" name="name" placeholder="Name" required="">

                                    </div>
                                    <div class="form-left-w3l">
                                        <input type="email" name="email" required="" placeholder="Email">
                                    </div>
                                    <div class="form-control-w3l">
                                        <textarea name="Message" placeholder="Any Message..." required=""></textarea>
                                    </div>

                                    <div class="btnn">
                                        <button type="submit">Submit</button><br>
                                    </div>
                                </form>


                                <div class="clear"></div>
                            </div>
                            <!--//newsletter-->

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    




    <!--scripts-->
    <script type='text/javascript' src='/error/js/jquery-2.2.3.min.js'></script>
    <!--//scripts-->
    <!--//scripts-->
    <script src="/error/js/jquery.magnific-popup.js" type="text/javascript"></script>
    <script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
    </script>
    <!-- //pop-up-box video -->
    <!-- //js -->
</body>

</html>